/* table {

    border: solid;
} */
/* table tr td {

    border: springgreen;
}

th {

    border: springgreen;
}
tr {

    border: springgreen;
} */

/* table {
    border: solid;
} */
h1 {


    text-align: center;
    padding-bottom: 50px;
    font-weight: bolder;
    font-size: 25px;
} 

#cookie-table {
align-items: center;
padding-left: 25%;
   
}



#cookie-table  th {
    padding: 7px;
    background-color: rgb(212, 210, 189);

    border: solid}
    #cookie-table tr td {
        padding: 5px;
        background-color: rgb(231, 227, 190);
    
        border: solid}

        

        


        